 nav ul{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none; 
  margin-top:30px;
  padding:0;
}

/* Styling and spacing of each tab in navigation bar */
nav a{
    text-decoration: none;
    color: black;
    margin: 40px;
}

nav a:hover{
  color:white;
  text-decoration:none;
  background-color:black;
  border-radius: 5px;
}

h1{
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:120px;
  text-align: center;
  margin-top:0px;
  margin-bottom:10px;
}

h2{
  font-family: 'Pathway Gothic One', sans-serif;
  font-size:40px;
  margin-top:0px;
  margin-bottom:0px;
}

h3{
  font-family: 'Pathway Gothic One', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: auto;
  }

@media only screen and (max-width: 600px) {
    body{margin:auto; width:100%;}
    nav ul{display:block; text-align: center; padding:0;}
    h1{font-size:70px; margin-bottom:20px}
    h2, h3, p{text-align:center;}
    p{margin-left:15%; margin-right:15%}
    .places-page{text-align:center;}
    .food-page{text-align:center;}
    .mobile-volunteer-page{text-align:center;}
    .volunteer-page{display:none;}
    .volunteer h2{margin-top:20px;}
  }
  
  @media only screen and (min-width: 601px) {
    .places-page article{display:flex;}
    .mobile-volunteer-page{display:none;}
  } 