body {
    background-color:#FFFFFF;
}
body {
    color:#5c1f45;
}
a {
    color:#1c26b8
}
h1, h2 {
    color: #92709c
}
nav {
    background-color: #FECDD3
}

nav a {
    color: #000000;
}
nav a:hover {
    background-color: #FFFFFF
}
nav {
    padding: 10px
}
nav {margin-bottom: 30px
}

.logo{
    width:50px;
}

@media screen and (max-width: 600px) {
    nav a {display:block;}
    span {display:none;} 
    nav a {margin-bottom: 8px}
    nav a {display: table; width: 100%}

}

@media screen and (max-width: 991px){
    nav a {display:block;}
    span {display:none;} 
    nav a {margin-bottom: 8px}
    nav a {display: table; width: 100%}

}

@media screen and (min-width: 992px){
}

@media screen and (min-width: 1200px){
}