body {
    background-color:#FFFFFF;
}
body {
    color:#E6C3D9;
}
a {
    color:#B7BDEB
}
h1, h2 {
    color: #BDA4C4
}
nav {
    background-color: #FECDD3
}

nav a {
    color: #000000;
}
nav a:hover {
    background-color: #FFFFFF
}
nav {
    padding: 10px
}
nav {margin-bottom: 30px
}

.logo{
    width:50px;
}

@media screen and (max-width: 600px) {
    nav a{display:block;}
    nav a {width: 100%;}
    span{display: none;}
}

@media screen and (min-width: 600px){
    nav a{display:block;}
    nav a{width:100%}
    span{display: none;}
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}